@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* 3. Theme Configuration */
@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-title: "Montserrat Alternates", sans-serif;

  --color-brand-primary: #1e3e62;
  --color-brand-darkslate: #0b192c;
  --color-brand-black: #000000;
  --color-brand-white: #ffffff;
  --color-brand-accent: #ff6500;
}

/* 4. Base Styles Layer */
@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-brand-darkslate);
    color: var(--color-brand-white);
  }

@layer utilities {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
}